@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Song+Myung');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.row {
  height: 880px;
  width: 765px;
  background: url("greenblurr.jpg");
}
.pic_base {
  height: 18%;
  background-color: #34495e;
  background: url("img_bg.jpg");
  background-size: cover;
}
#name {
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  position: absolute;
  font-family: verdana;
  margin-left: 15px;
  margin-top: auto;
  color: #ecf0f1;
  font-family: 'Song Myung', serif;
}
#address {
  position: absolute;
  padding-top: 35px;
  padding-left: 45px;
  font-family: 'Oswald', serif;
}
#contact_number {
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  position: absolute;
  font-family: verdana;
  margin-left: 570px;
  margin-top: 1px;
  color: #ecf0f1;
  font-family: 'Song Myung', serif;
}
#favorite_activities {
  position: absolute;
  padding-left: 45px;
  padding-top: 150px;
  font-family: 'Oswald';
}
#favorite_activities_ul {
  font-size: 14;
  font-family: 'Oswald';
}
#favorite_activities_ul2 {
  position: absolute;
  padding-left: 160px;
  padding-top: 30px;
  font-size: 14;
  font-family: 'Oswald';
}
#favorite_thingstodo {
  position: absolute;
  padding-left: 45px;
  padding-top: 285px;
  font-family: 'Oswald';
}
#favorite_thingstodo_ul {
  font-size: 14;
  font-family: 'Oswald';.
}
#favorite_thingstodo_p{
  position: absolute;
  padding-left: 87px;
  font-size: 14;
  font-family: 'Oswald';
}
#Others {
  position: absolute;
  padding-left: 45px;
  padding-top: 460px;
  font-family: 'Oswald';
}
#lyrics {
  font-size: 14;
  padding-left: 30px;
}
#edit {
  color: white;
  position: absolute;
  margin-left: 10px;
  padding-top: 10px;
}
.icon_base {
  background-color: #d35400;
  height: 55px;
  width: 55px;
  padding: 2x;
  position: absolute;
  margin-left: 690px;
  margin-top: 117px;
  align-items: center;
  border-radius: 100%;
}
